<!DOCTYPE html>
{% block content %}

<html>
	<head>
		<title>Colour Pallete</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">


<!--  header      -->
        <header id="header">
            <h1> Colour Palette</h1>
            <p> Please see top 5 colors used in your file <br />
            Go ahead and submit another image if you want!</p>
        </header>


<!--Report-->
        <div class="row">
            <h2>Color Report:</h2>
                <div class="card" style="display:inline-block">
                    {% for color in act %}
                        <ul> Actual Color: {{color}}</ul>
                    {% endfor %}
                </div>
                <div class="card" style="display:inline-block">
                    {% for color in clst %}
                        <ul>Closest Color: {{color}}</ul>
                    {% endfor %}
                </div>
                <div class='card' style="display:inline-block">
                    {% for color in rgb %}
                        <ul>RGB: {{color}}</ul>
                    {% endfor %}
                </div>
                <div class="card" style="display:inline-block">
                    {% for color in hex %}
                        <ul>Hex: {{color}}</ul>
                    {% endfor %}
                </div>
        </div>

<!-- Submit button for file path-->
    <form action="/top_five" method="POST">
        <div class="input-group mb-3" id="signup-form">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03">Submit</button>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" name="filepath">
          </div>
        </div>
    </form>


		<!-- Scripts -->
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

	</body>
</html>

{% endblock %}